{lib_dirs,
	[
		".."
	]
}.

%% Здесь будут лежать зависимости
{deps_dir,
	[
		".."
	]
}.

%% Поддиректории, в которые rebar должен заглядывать
{sub_dirs,
	[
%		"rel",
%		"../scada"
	]
}.

%% Опции компилятора
{erl_opts, 
	[
		fail_on_warning
	]
}.

%% Опции тестирования
{eunit_opts,
	[
		verbose
	]
}.

{edoc_opts,
	[
		{new,true},
        {packages,true},
        {subpackages,true},
        {hidden,false},
        {private,false}
	]
}.
% {cover_enabled, true}.
%% Список зависимостей
{deps,
	[
	]
}.

