[
	{kernel,
		[
			{error_logger,{file, "D:/Logs/scada.kernel.log"}}
		]
	},
	{sasl, 
		[ 
    		{sasl_error_logger, {file, "D:/Logs/scada.sasl.log"}}
		]
	},
	{snmp,
		[
			{manager,
				[
					{priority, normal},
     				{versions, [v1,v2,v3]},
     				{config,
     					[
     						% dir - каталог для хранения файлов конфигурации приложения snmp
        					{dir, "C:/bf/config/production/snmp3/manager"},
        					{verbosity, silence},
        					% db_dir - каталог для хранения файлов баз данных прилоджения snmp
        					{db_dir, "C:/bf/config/production/snmp3/manager/db"},
        					{repair, true},
        					{auto_save, 5000}
        				]
        			},
     				{inform_request_behaviour, auto},
     				{mibs, []},
     				{server, 
     					[
     						{timeout,30000},
     						{verbosity,silence}
     					]
     				},
					{note_store, 
						[
							{timeout,30000},
							{verbosity,silence}
						]
					},
					{net_if, 
						[
							{module,snmpm_net_if},
							{verbosity,silence},
							{options,
								[
									{bind_to,false},
									{no_reuse,false}
								]
							}
						]
					},
					{def_user_mod, scada_snmp},
					{def_user_data, undefined}
    			]
    		}
    	]
    },
	{scada,
		[
			% каталог для хранения файлов конфигурации приложения scada
			{config_dir,"C:/bf/config/production"},
			% http_port - TCP порт, на котором работает HTTP сервер.
			{http_port,5001},
			% hmi_dir - путь к каталогу, в котором храняться пользовательские файлы
			% 			человеко-машинного интерфейса.
			{hmi_dir,"C:/bf/hmi"},
			% reports_dir - путь к каталогу, в котором храняться файлы
			%				для формированя протоколов и рапортов.
			{reports_dir,"C:/bf/reports"},
			% jars_dir - путь к каталогу, в котором храняться исполняемые jar-файлы
			%			 человеко-машинного интерфейса. 
			{jars_dir,"C:/bf/sources/hmi/dist"},
			% scada_db_driver - имя драйвера для доступа к серверу баз данных
			{scada_db_driver,scada_db_mysql},
			% DSN - имя источника данных ODBC (DataSourceName).
			{dsn,"MSSQL"},
			% mysql_port - TCP порт, на котором функционирует интерфейс доступа к MySQL серверу.
			{mysql_port,3306},
			% username - имя пользователя для аутентификации доступа к MySQL или MSSQL серверу.
			{username,"report_viewer"},
			% password - пароль пользователя для аутентификации доступа к MySQL или MSSQL серверу.
			{password,"report_viewer"},
			% database - имя базы данных для работы с MySQL сервером.
			{database,"dp4"},
			% archive_path - путь к каталогу, в котором храниться архив базы данных. 
			{archive_path,"D:/BFArchive"},
			% drivers - список драйверов для тегов
			{drivers,[
				scada_driver_system,
				scada_driver_internal_memory,
				{scada_driver_modbus,[{config,"driver_modbus.conf"}]},
				scada_driver_snmp,
				scada_driver_evaluator,
				scada_driver_simulator %,
				% {scada_driver_ifix,[{config,"C:/bf/IFIX/LOCAL/BF.SCU"}]}
			]},
			% tags - файлы конфигурации для тегов
			{tags,[
				{shared,"tags_shared.conf"},
				{local,"tags_local3.conf"}
			]},
			% tables - файл конфигурации для таблиц базы данных
			{tables,"tables.conf"},
			% tasks - файл конфигурации для пользовательских задач
			{tasks,"tasks.conf"},
			% nodes - список узлов
			{nodes,[
	          'dp4_ws3@BF-WS3'
	        ]},
	        % read_write_ip - список IP адресов, для которых разрешены операции чтения
	        %                 и записи информации по протоколу HTTP
	        {read_write_ip,[
	        	{127,0,0,1},
	        	{192,168,1,123}	        	
	        ]},
	        % clients_backend - список адресов и номеров портов, по которым будут обращаться клиентские приложения
	        %					по протоколу HTTP
	        {clients_backend,[
	        	{"BF-SERVER1",5001},
	        	{"BF-SERVER2",5001},
	        	{"BF-WS3",5001}
	        ]},
	        % client_max_heap_size - размер памяти, используемой клиентским приложением, в мегабайтах
	        {client_max_heap_size,1200},
	        % client_backcolor - цвет фона для клиентского приложения
	        {client_backcolor,15790320},
	        % client_login_path - полное имя файла для сохранения имени пользователя и его пароля в процесе деблокировки интерфейса клиентского приложения
	        {client_login_path,"C:/bf/temp/pwd.txt"},
			% archive_task_period - периодичность в секундах резервного копирования информации из базы данных в текстовые файлы
	        {archive_task_period,86400},
	        % snmp_update_period - периодичность в секундах опроса данных по протоколу SNMP
	        {snmp_update_period,1},
	        % snmp_request_timeout - таймаут в миллисекундах для каждого запроса по протоколу SNMP
	        {snmp_request_timeout,100},
	        % share_disconnect_timeout - таймаут в микросекундах для контроля свзязности между собой узлов
	        {share_disconnect_timeout,500000}
		]
	}
].
